# Core and Integrations
langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-ollama
langchain-chroma

# Embeddings
sentence-transformers

# Web Application
streamlit
python-dotenv

# Database
sqlalchemy
pymysql

# Document Processing
unstructured

# Output Formatting
fpdf

# Visualization
plotly
kaleido
